<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<div class="layout">
    <form action="/bordwrite" method="post" enctype="multipart/form-data">
        <label>
            <input name="title" type="text" placeholder="제목을 입력하세요"><br>
            <textarea name="content" placeholder="내용을 입력하세요"></textarea><br>
            <input type="file" name="file"><br>
        </label>
        <button type="submit">작성</button>
    </form>
</div>
<a href="/">돌아가기</a>
</body>
</html>